/* COLOR PALETTE */
.palette {
    color: rgb(151, 191, 191);
    color: rgb(50, 64, 64);
    color: rgb(115, 85, 68);
    color: rgb(35, 61, 89);
    color: rgb(42, 53, 202);
    color: rgb(201, 169, 42);
    color: rgb(217, 208, 191);
}


/* ---------- BASIC SETUP ---------- */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 10px;
    text-align: center;
}

header {
    background-color: #97bfbf;
}

footer {
    background-color: rgb(151, 191, 191);
}

/* ---------- LINKS AND LIST ITEMS ---------- */

a:link,
a:visited {
    text-decoration: none;
    color: rgb(50, 64, 64);
}

a:hover {
    color: rgb(115, 85, 68);
    font-weight: 700;
}

li {
    list-style-type: none;
    font-size: 18px;
}

/* ---------- ICONS ---------- */

.my-linkedin {
    color: rgb(0, 119, 181);
}

.my-html {
    color: rgb(228, 77, 38);
}

.my-css {
    color: rgb(38, 77, 228);
}

.my-js {
    color: rgb(240, 219, 79);
}

/* ---------- TEXT ---------- */

h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25em;
    margin: auto;
    max-width: 23em;
    padding: 5px 10px 10px;
}
h2 {
    font-size: 22.4px;
    margin: 10px 0;
}

h3 {
    font-size: 20.8px;
}

p {
    max-width: 36em;
    margin: auto;
    line-height: 1.35em;
    text-align: left;
}

/* ---------- HEADER ---------- */

.navbar {
    display: flex;
    align-items: center;
    max-width: 36em;
    margin: auto;
}

.flex-image {
    width: 50%;
    flex: 0 2 auto;
    text-align: left;
}

.nav-img {
    width: 35%;
    min-width: 50px;
    max-width: 70px;
}

.flex-text {
    width: 25%;
    min-width: 60px;
    text-align: right;
}

/* ---------- BIO ---------- */

.hero-img {
    width: 90vw;
    margin: 10px auto 20px;
}

.hero-img img {
    width: 100%;
    max-width: 500px;
}

.bio {
    padding: 0 10px;
}

.bio-title {
    margin: 10px 0 15px;
}

.bio-parag {
    margin-bottom: 1.5em;
}

/* ---------- PROJECTS SECTION ---------- */

.project,
.project-title,
.project-img,
.project-tech-icons-ul,
.project-link {
    margin-bottom: 1em;
}

.projects-heading {
    margin-bottom: 1.35em;
}

.project-img {
    width: 90vw;
    margin: 0 auto 1em;
}

.project-img img {
    width: 75%;
    max-width: 320px;
}

.project-tech-icons {
    display: inline-block;
    padding: 0 10px;
}

.project-link-ul {
    font-size: 0;
}

.project-link {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px;
}

.project-link:first-of-type {
    border-right: 1px solid black;
}

/* ---------- CONTACT ---------- */

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links li:first-child {
    margin: 10px 0 15px;
}

.email-button {
    padding: .3em;
}
