/* COLOR PALETTE */
.palette {
    color: rgb(151, 191, 191);
    color: rgb(50, 64, 64);
    color: rgb(115, 85, 68);
    color: rgb(35, 61, 89);
    color: rgb(42, 53, 202);
    color: rgb(201, 169, 42);
    color: rgb(217, 208, 191);
}


/* ---------- BASIC SETUP ---------- */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    padding-top: 136px;
}

.container {
    padding: 10px;
    text-align: center;
}

section {
    padding-bottom: 35px;
}

footer {
    background-color: rgb(151, 191, 191);
}

/* ---------- LINKS AND LIST ITEMS ---------- */

a:link,
a:visited {
    text-decoration: none;
    color: rgb(50, 64, 64);
}

a:hover {
    color: rgb(42, 53, 202);
    font-weight: 700;
    border-bottom: solid 2px rgb(42, 53, 202);
}

.logo-li a:hover,
.contact-links a:hover {
    border: none;
}

li {
    list-style-type: none;
    font-size: 18px;
}

/* ---------- ICONS ---------- */

.my-hamburger {
    color: rgb(42, 53, 202);
    font-size: 1.35em;
}

.my-linkedin {
    color: rgb(0, 119, 181);
}

.my-html {
    color: rgb(228, 77, 38);
}

.my-css {
    color: rgb(38, 77, 228);
}

.my-js {
    color: rgb(240, 219, 79);
}

.my-react {
    color: rgb(94, 215, 242);
}

.my-github {
    color: black;
}

/* ---------- TEXT ---------- */

h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25em;
    margin: auto;
    max-width: 24em;
    padding: 5px 0 10px;
}

h2 {
    font-size: 22.4px;
    padding: 10px 0 20px;
}

h3 {
    font-size: 20.8px;
}

p {
    max-width: 36em;
    margin: auto;
    line-height: 1.35em;
    text-align: left;
}

/* ---------- HEADER ---------- */

.nav-header {
    position: fixed;
    width: 100vw;
    background-color: rgb(151, 191, 191);
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 576px;
    margin: auto;
}

.logo-li {
    width: 90%;
    text-align: left;
}

.logo {
    width: 50px;
    max-width: 70px;
}

.hamburger-li {
    width: 10%;
    text-align: right;
}

.hamburger-div {
    display: inline-block;
    width: 100%;
    max-width: 35px;
    padding: 4px 0;
    background-color: rgb(217, 208, 191);
    text-align: center;
    border-radius: 25%;
    box-shadow: inset 0 0 3px rgb(50, 64, 64);
}

.no-mobile-nav {
    display: none;
}

.dropdown-nav {
    display: none;
    width: 100%;
    max-width: 576px;
    margin: auto;
    text-align: right;
    border-top: solid 2px rgba(217, 208, 191, 0.5);
}

.dropdown-li {
    display: inline-block;
    width: 90px;
    padding: 15px 0 5px;
}

.dropdown-li a {color: rgb(42, 53, 202);}

/* ---------- MAIN HEADER ---------- */
.main-header-text {
    padding-bottom: 1.35em;
}

.job-title {
    text-align: center;
}

.hero-img {
    width: 90vw;
}

.hero-img img {
    width: 100%;
    max-width: 576px;
    margin: 10px auto 20px;
}

/* ---------- BIO ---------- */
.bio {
    padding: auto 10px;
}

.bio-parag {
    margin-bottom: 1.5em;
}

.bio-parag:last-of-type {
    margin-bottom: 0;
}

/* ---------- PROJECTS SECTION ---------- */

.projects-section {
    background-color: rgb(217, 208, 191);
}

.projects-heading {
    padding: 10px 0;
}

.project {
    padding-bottom: 60px;
    border-bottom: 2px solid rgb(151, 191, 191);
}

.project:last-of-type {
    border-bottom: none;
}

.project-title {
    padding: 2em 0;
}

.project-img img {
    width: 75%;
    max-width: 320px;
    margin-bottom: 1em;
}

.project-img img:hover {
    transform: scale(1.03);
}

.tech-used-heading {
    padding-bottom: 1em;
}

.project-tech-icons-ul {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    max-width: 320px;
    margin: 0 auto 2em;
}

.project-tech-icons {
    font-size: 48px;
}

.project-link {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 0 10px;
    border-right: 1px solid black;
}

.project-link:last-of-type {
    border-right: none;
}

.project-description {
    max-width: 320px;
    padding: 2em 0;
}

/* ---------- CONTACT/FOOTER ---------- */
.contact-info {
    padding-bottom: 0;
}
.contact-title {
    margin: 0;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links li {
    margin-bottom: 15px;
}

.email-button {
    font-size: 20px;
    font-weight: 700;
    color: rgb(35, 61, 89);
    background-color: rgb(217, 208, 191);
    padding: .3em .5em;
    border: 1px solid rgb(35, 61, 89);
}

.email-button:hover {
    transform: scale(1.03);
    box-shadow: inset 0 0 7px rgb(50, 64, 64);
}

.footer-sponsor {
    display: block;
    padding-bottom: 1em;
}